<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  This is the contact page, but I don't really want anyone to contact me.  Sorry.
 </p>
<p>  
  Maybe you could <a href="http://www.google.com?q=someone+who+cares"  >search</a> for someone who cares.</p>  
</p>